header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px;
    position: center;
    background: transparent;
    text-align: center;
    font-size: 40px;
    text-emphasis-color: white;
}

body{
    background-image: url('../img/Fondo3.jpg'); 
background-size: cover;
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}