header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px;
    position: center;
    background: transparent;
    text-align: center;
    font-size: 40px;
    text-emphasis-color: white;
}

body{
    background-image: url('../img/Fondo2.jpg'); 
background-size: cover;
    background-repeat: no-repeat;

}