body {
    margin: 0;
    /* overflow: hidden; */ /* Comenta o elimina esta línea para mostrar el contenido que se desborda */
    background-color: #118cb0;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo del menú transparente */
    padding: 15px;
    box-sizing: border-box;
    z-index: 1; /* Para estar encima de la imagen de fondo */
}

.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-bar li {
    margin-right: 20px;
}

.menu-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: changeBackground 6s infinite; /* Cambia cada 2 segundos (3 imágenes, 6 segundos en total) */
}

@keyframes changeBackground {
    0%, 100% {
        background-image: url('../img/kinal1.jpg');
    }
    33% {
        background-image: url('../img/Kinal5.png');
    }
    66% {
        background-image: url('../img/Kinal6.jpg');
    }
}

.titulo-grande {
    position: relative;
    top: 40%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 4em;
    font-weight: bold;
   
}

.contenido {
    text-align: center;
    padding: 50px 0;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.tarjeta {
    flex: 1;
    background-color:  #1f6dc6;
    padding: 90px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(255, 124, 2, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tarjeta:hover,
.tarjeta.active {
    background-color: #80bbff; 
    color: #fff; 
}

.login-btn {
    background-color: #1e00b5;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #ffa600;
}
#miBoton {
    background-color: #ffa600;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el ratón sobre el botón */
#miBoton:hover {
    background-color: #ffa600;
}

/* Estilo al hacer clic en el botón */
#miBoton:active {
    background-color: #ffa600;
}

.lk {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #90a3e4;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.lk :hover {
    background-color: #90a3e4;
}

.contenido {
    text-align: center;
    padding: 50px 0;
    background-image: url('../img/Fazul.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.tarjetas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

h2{
    color: black;
    text-align: center;
    background-color: #118cb0;
}