body{
    background-image: url('../img/Fondo3.jpg'); 
background-size: cover;
    background-repeat: no-repeat;

}

#main-menu .nav-bar { list-style:none; margin-top: 40px; }
#main-menu .nav-bar li { display:inline; padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: white;
	text-shadow: 1px 1px 1px #ccc;
}


.menu-btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    margin-top: 30px;
    top: 0;
   
    font-size: 40px;

}

#myNav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: transparent;
    padding: 10px; 
 
}

#yo- {
    text-align: center;
    padding: 50px 0;
    background-color: transparent;
}

#yo- h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#yo- img {
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#yo- l {
    font-size: 1.2em;
    color: white;
    line-height: 1.6;
}

#Proyectos- {
    text-align: center;
    padding: 50px 0;
    background-color: transparent;
}

#Proyectos- h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.proyecto-card {
    text-align: center;
    color: white;
    display: inline-block;
    width: 300px;
    margin: 0 10px;
    text-align: left;
}

.proyecto-card img {
    width: 100%;
    height: auto;
    
}

.proyecto-info {
    padding: 15px;
}

.proyecto-info h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.proyecto-info p {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
    color: white;
}

#Habilidades- h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#Habilidades- l {
    font-size: 2.5em;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

#Multimedia- h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
    text-align: center;
} 

/*css contacto */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

#Multimedia- {
    text-align: center;
    padding: 50px 0;
    background-color: transparent;
    color: white;
}

#Multimedia- h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

#Multimedia- audio {
    display: block;
    margin: 0 auto;
    width: 80%; /* Ajusta el ancho según sea necesario */
}



.nav-bar .nav-button-home a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/home.gif") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-services a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/services.gif") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-products a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/products.gif") no-repeat 0px -2px transparent; }

/* Icons courtesy of Thom : http://pixelb.in/assorted-pixel-perfect-14px-icon-set-286/ */